<section>
  <!-- first-section -->
  <div class="section-about-me my-losung">
    <h3 class="about-me-intro">
      I work with people all over the world to create impressive and
      <span class="about-word-function">functional</span
      ><span class="about-word-websites">websites</span> that reflect each
      client's unique personality.
    </h3>
    <img
      class="img-about-me"
      srcset="
        /img/about-me/about-me-mobile-1x-min.jpg 288w,
        /img/about-me/about-me-mobile-2x-min.jpg 576w,
        /img/about-me/about-me-tablet-1x-min.jpg 356w,
        /img/about-me/about-me-tablet-2x-min.jpg 712w,
        /img/about-me/about-me-1x-min.jpg        360w,
        /img/about-me/about-me-2x-min.jpg        720w
      "
      sizes="(min-width: 1158px) 360px, (min-width: 768px) 356px, (max-width: 768px) 288px"
      alt="my photo"
      src="img/about-me/about-me-mobile-1x-min.jpg"
    />
  </div>
  <!-- second-section -->
  <div class="section-about-me">
    <ul class=" accordion-container-about-me">
      <li class="ac ac-about-me">
        <h3 class="ac-header ac-header-about-me">
          <button type="button" class="ac-trigger ac-trigger-about-me">
            ABOUT ME <span class="cercio"></span>
          </button>
        </h3>
        <div class="ac-panel">
          <ul class="ac-text">
            <li>
              <p>
                I am Lloyd Jefferson, a talented programmer with extensive
                expertise in software development. I have an understanding of
                different programming languages and technologies, always ready
                to improve my skills. I always follow the latest trends and look
                for unconventional, creative solutions to problems. I have a
                high level of analytical skills and am able to effectively solve
                even the most difficult tasks encountered on the way.
              </p>
            </li>
            <li>
              <p>
                Able to work both independently and in a team. I can effectively
                cooperate with colleagues, exchanging ideas and finding optimal
                solutions. Professional maturity allows you to calmly cope with
                challenges and stressful situations, while maintaining a high
                quality of work. I am always looking for opportunities for
                self-improvement. I actively study new technologies and
                practices to stay abreast of the latest innovations. I have a
                strong understanding of various programming languages,
                frameworks and architectural concepts that allow me to create
                efficient and scalable software.
              </p>
            </li>
          </ul>
        </div>
      </li>

      <li class="ac ac-about-me">
  <h3 class="ac-header ac-header-about-me">
          <button type="button" class="ac-trigger ac-trigger-about-me">
            ROLE <span class="cercio"></span>
          </button>
        </h3>
        <div class="ac-panel">
          <p class="ac-text">Frontend development</p>
          <p class="ac-text">HeadlessCMS,Wordpress</p>
          <p class="ac-text">Blender(enjoy)</p>
        </div>
      </li>

      <li class="ac ac-about-me">
          <h3 class="ac-header ac-header-about-me">
          <button type="button" class="ac-trigger ac-trigger-about-me">
            EDUCATION <span class="cercio"></span>
          </button>
        </h3>
        <div class="ac-panel">
          <p class="ac-text">
            2018 - 2019 / Frontend Development Diploma, GoIT IT School, New York
          </p>
          <p class="ac-text">
            2019 - 2020 / Advanced Web Development Certificate, GoIT IT School,
            New York
          </p>
          <p class="ac-text">
            2020 - 2022 / Advanced Blender Animation Techniques, Udemy
          </p>
        </div>
      </li>
    </ul>
  </div>

  <div class="section-about-me slaider-div">
    <div class="swiper swiper-about-me mySwiper">
      <ul class="swiper-wrapper swiper-wrapper-about-me">
        <li class="swiper-slide swiper-slide-about-me ">HTML/CSS</li>
        <li class="swiper-slide swiper-slide-about-me">JavaScript</li>
        <li class="swiper-slide swiper-slide-about-me">React</li>
        <li class="swiper-slide swiper-slide-about-me">Node. js</li>
        <li class="swiper-slide swiper-slide-about-me">React Native</li>
        <li class="swiper-slide swiper-slide-about-me">Soft skills</li>
      </ul>
    </div>
    <div class="long-arrow-right"></div>
  </div>
</section>
