<section class="benefits" id="benefits">
  <div class="container">
    <div class="benefits-wrapper">
      <h2 class="benefits-title">BENEFITS OF WORKING WITH ME</h2>
      <ul class="benefits-list" data-aos="flip-right">
        <li class="benefits-item">
          <div class="benefits-icon-container">
            <svg
              class="benefits-list-icon"
              width="24"
              height="24"
              aria-label="icon-user"
            >
              <use href="./img/icons.svg#icon-user"></use>
            </svg>
          </div>
          <h3 class="benefits-item-title">Expertise</h3>
          <p class="benefits-item-caption">
            As a highly experienced developer, I have deep knowledge of
            programming and website development.
          </p>
        </li>
        <li class="benefits-item">
          <div class="benefits-icon-container">
            <svg
              class="benefits-list-icon"
              width="24"
              height="24"
              aria-label="icon-message-chat"
            >
              <use href="./img/icons.svg#icon-message-chat"></use>
            </svg>
          </div>
          <h3 class="benefits-item-title">Communication</h3>
          <p class="benefits-item-caption">
            Understanding your needs and wants is my priority and I am always
            open to discussions and corrections.
          </p>
        </li>
        <li class="benefits-item">
          <div class="benefits-icon-container">
            <svg
              class="benefits-list-icon"
              width="24"
              height="24"
              aria-label="icon-brush"
            >
              <use href="./img/icons.svg#icon-brush"></use>
            </svg>
          </div>
          <h3 class="benefits-item-title">Art</h3>
          <p class="benefits-item-caption">
            Thanks to my creative nature, I am ready to accept challenges and
            help you bring your ideas to life.
          </p>
        </li>
        <li class="benefits-item">
          <div class="benefits-icon-container">
            <svg
              class="benefits-list-icon"
              width="24"
              height="24"
              aria-label="icon-hourglass"
            >
              <use href="./img/icons.svg#icon-hourglass"></use>
            </svg>
          </div>
          <h3 class="benefits-item-title">Urgent execution</h3>
          <p class="benefits-item-caption">
            I understand how important time is to you. Ready to work quickly and
            efficiently, without reducing the quality of work.
          </p>
        </li>
      </ul>
      <div class="button-wrapper">
        <a
          href="#work-together"
          aria-label="Let's work together"
          title="Let's work together"
        >
          Order the project</a
        >
      </div>
    </div>
  </div>
</section>
