<section class="covers" id="covers-us">
  <div class="container cover-container">
    <h2 class="cover-h2">Cover</h2>

    <div class="covers-content">
      <ul class="covers-ul-marquee">
        <!-- <div class="covers-marquee"> -->

        <li class="covers-li-marquee-inner">
          <!-- <div class="covers-marquee-inner"> -->

          <picture class="covers-marguee-line">
            <!--<p class="marguee-line">Project 1</p>-->
            <!-- Tablet-Desktop screen -->
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/covers/covers-6-1x-min.webp 1x,
                ./img/covers/covers-6-2x-min.webp 2x
              "
            />
            <!-- Mobile screen -->
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/covers/covers-6-1x-min.webp 1x,
                ./img/covers/covers-6-2x-min.webp 2x
              "
            />
            <img
              class="cover-src"
              src="./img/covers/covers-6-1x-min.webp"
              alt="row 1 - photo 6"
              loading="lazy"
              width="282"
              height="162"
            />
          </picture>
        </li>

        <li class="covers-li-marquee-inner">
          <picture class="covers-marguee-line">
            <!-- Tablet-Desktop screen -->
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/covers/covers-6-1x-min.webp  1x,
                ./img/covers/covers-6-2x-min.webp  2x,
                ./img/covers/covers-10-1x-min.webp 1x,
                ./img/covers/covers-10-2x-min.webp 2x
              "
            />
            <!-- Mobile screen -->
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/covers/covers-6-1x-min.webp  1x,
                ./img/covers/covers-6-2x-min.webp  2x,
                ./img/covers/covers-10-1x-min.webp 1x,
                ./img/covers/covers-10-2x-min.webp 2x
              "
            />
            <div class="cover-img-container">
              <img
                class="cover-src"
                src="./img/covers/covers-10-1x-min.webp"
                alt="row 2 - photo 10"
                loading="lazy"
                width="282"
                height="162"
              />
              <img
                class="cover-src"
                src="./img/covers/covers-7-1x-min.webp"
                alt="row 2 - photo 7"
                loading="lazy"
                width="282"
                height="162"
              />
            </div>
          </picture>
        </li>

        <li class="covers-li-marquee-inner">
          <picture class="covers-marguee-line">
            <!-- Tablet-Desktop screen -->
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/covers/covers-11-1x-min.webp 1x,
                ./img/covers/covers-11-2x-min.webp 2x,
                ./img/covers/covers-1-1x-min.webp  1x,
                ./img/covers/covers-1-2x-min.webp  2x,
                ./img/covers/covers-8-1x-min.webp  1x,
                ./img/covers/covers-8-2x-min.webp  2x
              "
            />
            <!-- Mobile screen -->
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/covers/covers-11-1x-min.webp 1x,
                ./img/covers/covers-11-2x-min.webp 2x,
                ./img/covers/covers-1-1x-min.webp  1x,
                ./img/covers/covers-1-2x-min.webp  2x,
                ./img/covers/covers-8-1x-min.webp  1x,
                ./img/covers/covers-8-2x-min.webp  2x
              "
            />
            <div class="cover-img-container">
              <img
                class="cover-src"
                src="./img/covers/covers-11-1x-min.webp"
                alt="row 3 - photo 11"
                loading="lazy"
                width="282"
                height="162"
              />
              <img
                class="cover-src"
                src="./img/covers/covers-1-1x-min.webp"
                alt="row 3 - photo 1"
                loading="lazy"
                width="282"
                height="162"
              />
              <img
                class="cover-src"
                src="./img/covers/covers-8-1x-min.webp"
                alt="row 3 - photo 8"
                loading="lazy"
                width="282"
                height="162"
              />
            </div>
          </picture>
        </li>

        <li class="covers-li-marquee-inner">
          <picture class="covers-marguee-line">
            <!-- Tablet-Desktop screen -->
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/covers/covers-9-1x-min.webp 1x,
                ./img/covers/covers-9-2x-min.webp 2x,
                ./img/covers/covers-4-1x-min.webp 1x,
                ./img/covers/covers-4-2x-min.webp 2x,
                ./img/covers/covers-5-1x-min.webp 1x,
                ./img/covers/covers-5-2x-min.webp 2x
              "
            />
            <!-- Mobile screen -->
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/covers/covers-9-1x-min.webp 1x,
                ./img/covers/covers-9-2x-min.webp 2x,
                ./img/covers/covers-4-1x-min.webp 1x,
                ./img/covers/covers-4-2x-min.webp 2x,
                ./img/covers/covers-5-1x-min.webp 1x,
                ./img/covers/covers-5-2x-min.webp 2x
              "
            />
            <div class="cover-img-container">
              <img
                class="cover-src"
                src="./img/covers/covers-9-1x-min.webp"
                alt="row 4 - photo 9"
                loading="lazy"
                width="282"
                height="162"
              />
              <img
                class="cover-src"
                src="./img/covers/covers-4-1x-min.webp"
                alt="row 4 - photo 4"
                loading="lazy"
                width="282"
                height="162"
              />
              <img
                class="cover-src"
                src="./img/covers/covers-5-1x-min.webp"
                alt="row 4 - photo 5"
                loading="lazy"
                width="282"
                height="162"
              />
            </div>
          </picture>
        </li>

        <li class="covers-li-marquee-inner">
          <picture class="covers-marguee-line">
            <!-- Tablet-Desktop screen -->
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/covers/covers-12-1x-min.webp 1x,
                ./img/covers/covers-12-2x-min.webp 2x
              "
            />
            <!-- Mobile screen -->
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/covers/covers-12-1x-min.webp 1x,
                ./img/covers/covers-12-2x-min.webp 2x
              "
            />
            <img
              class="cover-src"
              src="./img/covers/covers-12-1x-min.webp"
              alt="row 5 - photo 12"
              loading="lazy"
              width="282"
              height="162"
            />
          </picture>
        </li>
      </ul>

      <!-- <div class="covers-marquee">
                <p class="covers-marguee-line">Project 1</p>
                <p class="covers-marguee-line">Project 2</p>
                <p class="covers-marguee-line">Project 3</p>
                <p class="covers-marguee-line">Project 4</p>
                <p class="covers-marguee-line">Project 5</p>
                <p class="covers-marguee-line">Project 6</p>
                <p class="covers-marguee-line">Project 7</p>
                <p class="covers-marguee-line">Project 8</p>
            </div> -->
      <!-- </div> -->
    </div>
  </div>
</div>
</section>
