<section class="covers" id="covers-id">
  <link rel="stylesheet" href="../css/covers.css" />

  <div" class="covers-content">
    <div class="covers-marquee">
      <div class="covers-marquee__inner">
        <!-- <marquee behavior="scroll"> -->
        <img" class="covers-marquee__line"
          src="../img/covers/covers-6-1x-min.webp" 
          alt="row 1 - photo 6" 
        />
        <!-- </marquee> -->
      </div>
      <div class="covers-marquee__inner">
        <img
          class="covers-marquee__line"
          src="../img/covers/covers-10-1x-min.webp"
          alt="row 2 - photo 10"
        />
        <img
          class="covers-marquee__line"
          src="../img/covers/covers-7-1x-min.webp"
          alt="row 2 - photo 7"
        />
      </div>
      <div class="covers-marquee__inner">
        <img
          class="covers-marquee__line"
          src="../img/covers/covers-11-1x-min.webp"
          alt="row 3 - photo 11"
        />
        <img
          class="covers-marquee__line"
          src="../img/covers/covers-1-1x-min.webp"
          alt="row 3 - photo 1"
        />
        <img
          class="covers-marquee__line"
          src="../img/covers/covers-8-1x-min.webp"
          alt="row 3 - photo 8"
        />
      </div>
      <div class="covers-marquee__inner">
        <img
          class="covers-marquee__line"
          src="../img/covers/covers-9-1x-min.webp"
          alt="row 4 - photo 9"
        />
        <img
          class="covers-marquee__line"
          src="../img/covers/covers-4-1x-min.webp"
          alt="row 4 - photo 4"
        />
        <img
          class="covers-marquee__line"
          src="../img/covers/covers-5-1x-min.webp"
          alt="row 4 - photo 5"
        />
      </div>
      <div class="covers-marquee__inner">
        <img
          class="covers-marquee__line"
          src="../img/covers/covers-12-1x-min.webp"
          alt="row 5 - photo 12"
        />
      </div>
    </div>
  </div>
</section>
