<section class="container faq-section" id="faq">
  <h2 class="faq-header">FAQ</h2>
  <div class="accordion-container faq-accordion-container">
    <ul class="ac faq-ac">
      <li class="ac-header faq-ac-header">
        <button type="button" class="ac-trigger faq-ac-trigger">
          What programming languages ​​are most often used in your project?
          <span class="faq-ac-button"></span>
        </button>
      </li>
      <li class="ac-panel faq-ac-panel">
        <p class="ac-text faq-ac-text">
          In the field of web development, there are various technologies and
          programming languages. Typically, this includes a combination of
          frontend (client side) and backend (server side) languages.
        </p>
      </li>
    </ul>
    <ul class="ac faq-ac">
      <li class="ac-header faq-ac-header">
        <button type="button" class="ac-trigger faq-ac-trigger">
          What are the deadlines for the project?
          <span class="faq-ac-button"></span>
        </button>
      </li>
      <li class="ac-panel faq-ac-panel">
        <p class="ac-text faq-ac-text">
          The terms of project implementation depend to a large extent on a
          number of factors, such as the scope of the project, its complexity,
          and the availability of resources. Determining exact deadlines is a
          difficult task, and it usually occurs during the planning phase of the
          project.
        </p>
      </li>
    </ul>
    <ul class="ac faq-ac">
      <li class="ac-header faq-ac-header">
        <button type="button" class="ac-trigger faq-ac-trigger">
          What payment methods do you accept?
          <span class="faq-ac-button"></span>
        </button>
      </li>
      <li class="ac-panel faq-ac-panel">
        <p class="ac-text faq-ac-text">
          Payment through credit and debit cards such as Visa, MasterCard,
          specialized electronic payment systems such as PayPal, as well as
          payments in cryptocurrencies such as Bitcoin, Ethereum and others.
        </p>
      </li>
    </ul>
    <ul class="ac faq-ac">
      <li class="ac-header faq-ac-header">
        <button type="button" class="ac-trigger faq-ac-trigger">
          How can I contact you?
          <span class="faq-ac-button"></span>
        </button>
      </li>
      <li class="ac-panel faq-ac-panel">
        <p class="ac-text faq-ac-text">
          In the field of web development, there are various technologies and
          programming languages. Typically, this includes a combination of
          frontend (client side) and backend (server side) languages.
        </p>
      </li>
    </ul>
    <ul class="ac faq-ac">
      <li class="ac-header faq-ac-header">
        <button type="button" class="ac-trigger faq-ac-trigger">
          Do you provide advice or support?
          <span class="faq-ac-button"></span>
        </button>
      </li>
      <li class="ac-panel faq-ac-panel">
        <p class="ac-text faq-ac-text">
          The terms of project implementation depend to a large extent on a
          number of factors, such as the scope of the project, its complexity,
          and the availability of resources. Determining exact deadlines is a
          difficult task, and it usually occurs during the planning phase of the
          project.
        </p>
      </li>
    </ul>
    <ul class="ac faq-ac">
      <li class="ac-header faq-ac-header">
        <button type="button" class="ac-trigger faq-ac-trigger">
          What does the process of developing a software product look like from
          idea to implementation?
          <span class="faq-ac-button"></span>
        </button>
      </li>
      <li class="ac-panel faq-ac-panel">
        <p class="ac-text faq-ac-text">
          Payment through credit and debit cards such as Visa, MasterCard,
          specialized electronic payment systems such as PayPal, as well as
          payments in cryptocurrencies such as Bitcoin, Ethereum and others.
        </p>
      </li>
    </ul>
  </div>
</section>
