<header class="header">
  <div class="container header-container">
    <nav class="nav-menu">
      <div class="header-logo-container">
        <a class="header-logo-link" href="./index.html">
          <img
            class="header-logo-img"
            srcset="
              ./img/header/logo-1x-min.webp,
              ./img/header/logo-2x-min.webp
            "
            src="./img/header/logo-1x-min.webp"
            alt="Lloyd Jefferson photo"
            width="80"
            height="80"
            loading="lazy"
          />
          <svg class="header-logo-svg" width="84" height="19">
            <use href="./img/icons.svg#icon-jefferson_-1-1"></use>
          </svg>
        </a>
      </div>
      <div class="header-menu">
        <p class="header-menu-open" tabindex="0">Menu</p>
        <ul class="header-menu-list">
          <li class="header-menu-link"><a href="#about-me">About me</a></li>
          <li class="header-menu-link"><a href="#benefits">Benefits</a></li>
          <li class="header-menu-link"><a href="#projects">Projects</a></li>
          <li class="header-menu-link"><a href="#faq">FAQ</a></li>
        </ul>
      </div>
      <a
        class="header-link"
        href="#work-together"
        aria-label="link to Work together"
        >Order the project</a
      >
      <button
        class="open-menu-button"
        type="button"
        aria-label="open menu button"
      >
        <svg class="open-menu-svg" width="21" height="8.17">
          <use href="./img/icons.svg#icon-Icon-2-1"></use>
        </svg>
      </button>
    </nav>
  </div>
</header>
