<section class="hero-section">
  <h1 class="hero-h1">Hello. I’m Fullstack developer Lloyd Jefferson.</h1>
  <ul class="social-links">
    <li class="social-li">
      <a href="https://www.instagram.com/goitclub/" target="_blank">IG</a>
    </li>
    <li class="social-li">
      <a href="https://www.facebook.com/goITclub/" target="_blank">FB</a>
    </li>
    <li class="social-li">
      <a href="https://www.youtube.com/c/GoIT" target="_blank">YT</a>
    </li>
    <li class="social-li">
      <a href="https://github.com/Vladtsrez/project-03" target="_blank">GH</a>
    </li>
    <li class="social-li">
      <a href="lloydjefferson@gmail.com">lloydjefferson@gmail.com</a>
    </li>
  </ul>
</section>
