<section class="hero-section">
  <div></div>
  <h1 class="hero-title">
    <span class="hero-title-item">Hello.</span>
    <span class="hero-title-item">I’m Fullstack developer</span>
    <span class="hero-title-item">Lloyd Jefferson.</span>
  </h1>
  <ul class="social-links">
    <li class="social-li social-li-sm">
      <a href="https://www.instagram.com/goitclub/" target="_blank">IG</a>
    </li>
    <li class="social-li social-li-sm">
      <a href="https://www.facebook.com/goITclub/" target="_blank">FB</a>
    </li>
    <li class="social-li social-li-sm">
      <a href="https://www.youtube.com/c/GoIT" target="_blank">YT</a>
    </li>
    <li class="social-li social-li-sm">
      <a href="https://github.com/Vladtsrez/project-03" target="_blank">GH</a>
    </li>
    <li class="social-li social-li-lg">
      <a href="mailto: lloydjefferson@gmail.com">lloydjefferson@gmail.com</a>
    </li>
  </ul>
</section>
