<section class="projects-section">
  <div class="container">
    <h2 class="projects-heading">projects</h2>

    <ul class="project-cards">
      <li class="project-cards-item">
        <div class="projects-card-info">
          <ul class="projects-card-tech-skills">
            <li class="projects-card-tech-skills-item">#react</li>
            <li class="projects-card-tech-skills-item">#js</li>
            <li class="projects-card-tech-skills-item">#node js</li>
            <li class="projects-card-tech-skills-item">#git</li>
          </ul>

          <p class="projects-card-info-text">
            Programming Across Borders: Ideas, Technologies, Innovations
          </p>

          <a
            class="projects-card-see-project-link"
            href="https://github.com/Vladtsrez/project-03"
            target="_blank"
            >See project</a
          >
        </div>
        <div class="projects-card-image-container">
          <picture>
            <source
              srcset="
                ./img/projects/project-3-1x.jpg     1x,
                ./img/projects/project-1-2x-min.jpg 2x
              "
              media="(min-width:768px)"
              width="614"
              height="385"
            />
            <source
              srcset="
                ./img/projects/project-3-1x.jpg     1x,
                ./img/projects/project-1-2x-min.jpg 2x
              "
              media="(max-width:767px)"
              width="311"
              height="159"
            />
            <img
              class="projects-card-image"
              src="./img/projects/project-3-1x.jpg"
              alt="Project image"
            />
          </picture>
        </div>
      </li>
      <li class="project-cards-item">
        <div class="projects-card-info">
          <ul class="projects-card-tech-skills">
            <li class="projects-card-tech-skills-item">#react</li>
            <li class="projects-card-tech-skills-item">#js</li>
            <li class="projects-card-tech-skills-item">#node js</li>
            <li class="projects-card-tech-skills-item">#git</li>
          </ul>

          <p class="projects-card-info-text">
            Programming Across Borders: Ideas, Technologies, Innovations
          </p>

          <a
            class="projects-card-see-project-link"
            href="https://github.com/Vladtsrez/project-03"
            target="_blank"
            >See project</a
          >
        </div>
        <div class="projects-card-image-container">
          <picture>
            <source
              srcset="
                ./img/projects/project-2-1x.jpg     1x,
                ./img/projects/project-3-2x-min.jpg 2x
              "
              media="(min-width:768px)"
              width="614"
              height="385"
            />
            <source
              srcset="
                ./img/projects/project-2-1x.jpg     1x,
                ./img/projects/project-3-2x-min.jpg 2x
              "
              media="(max-width:767px)"
              width="311"
              height="159"
            />
            <img
              class="projects-card-image"
              src="./img/projects/project-2-1x.jpg"
              alt="Project image"
            />
          </picture>
        </div>
      </li>
      <li class="project-cards-item">
        <div class="projects-card-info">
          <ul class="projects-card-tech-skills">
            <li class="projects-card-tech-skills-item">#react</li>
            <li class="projects-card-tech-skills-item">#js</li>
            <li class="projects-card-tech-skills-item">#node js</li>
            <li class="projects-card-tech-skills-item">#git</li>
          </ul>

          <p class="projects-card-info-text">
            Programming Across Borders: Ideas, Technologies, Innovations
          </p>

          <a
            class="projects-card-see-project-link"
            href="https://github.com/Vladtsrez/project-03"
            target="_blank"
            >See project</a
          >
        </div>
        <div class="projects-card-image-container">
          <picture>
            <source
              srcset="
                ./img/projects/project-1-1x.jpg     1x,
                ./img/projects/project-2-2x-min.jpg 2x
              "
              media="(min-width:768px)"
              width="614"
              height="385"
            />
            <source
              srcset="
                ./img/projects/project-1-1x.jpg     1x,
                ./img/projects/project-2-2x-min.jpg 2x
              "
              media="(max-width:767px)"
              width="311"
              height="159"
            />
            <img
              class="projects-card-image"
              src="./img/projects/project-1-1x.jpg"
              alt="Project image"
            />
          </picture>
        </div>
      </li>
    </ul>
  </div>
</section>
