<section class="reviews-section">
  <div class="container">
    <h2 class="title-review">Reviews</h2>
    <div class="review-swiper swiper">
      <ul class="reviews-list swiper-wrapper"></ul>
    </div>
    <div class="review-btn-container">
      <button class="left-btn rotate180">
        <svg class="menu-left-btn-icon" width="32" height="32">
          <use href="../img/icons.svg#review-arrow"></use>
        </svg>
      </button>
      <button class="right-btn">
        <svg class="menu-right-btn-icon" width="32" height="32">
          <use href="../img/icons.svg#review-arrow"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
