<section class="reviews-section">
  <div class="container">
    <h2 class="title-review">Reviews</h2>
    <div class="swiper">
      <ul class="reviews-list swiper-wrapper"></ul>
    </div>
    <div class="btn-container">
      <button class="left-btn">
        <svg class="menu-btn-icon" width="32" height="32">
          <use href="../img/icons.svg#icon-brush"></use>
        </svg>
      </button>
      <button class="right-btn">
        <svg class="menu-btn-icon" width="32" height="32">
          <use href="../img/icons.svg#icon-hourglass"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
<!--<script type="module" src="../js/reviews.js"></script>-->
