<footer class="footer">
    <div class="text-footer">
    <img src="../img/about-me/about-me-1x-min.jpg" alt="foto">
    <h2>Let’s <span>work </span><br>together</h2>
</div>
<form id="form-footer">
<div class="input-footer">
    <input type="email" id="email" placeholder="clients@gmail.com">
    <input type="text" id="comment" placeholder="comments">
    <button class="button">send</button>
</div>
</form>
    <address class="contact-footer">
            <a class="address-link-footer" href="mailto:lloydjefferson@gmail.com">lloydjefferson@gmail.com</a>
            <a class="address-link-footer" href="tel:+3801111111111">+380 11 1111 11 11</a>
        </address>
</footer>