<footer class="footer">
    <div class="text-footer">
    <img src="../img/about-me/about-me-1x-min.jpg" alt="foto">
    <h2>Let’s <span>work </span><br>together</h2>
</div>
<div class="input-footer">
    <input type="email" id="email" placeholder="clients@gmail.com">
    <input type="text" id="comment" placeholder="comments">
    <button class="button">send</button>
</div>
    <div class="contact">
            <p>lloydjefferson@gmail.com</p>
            <p>+380 11 1111 11 11</p>
        </div>
</footer>