:root {
    --color-text-functional: #ED3B44;
    --color-text-websites: #FAFAFA66;
    --color-bacgraund-one: #242527;
}

/* first section */




.first-section-about-me {
    display: flex;
   
    width: 343px;


    
}

.about-me-intro{
    text-transform: uppercase ;
    font-size: 24px; 
    text-align: center;
    
    
}
.about-word-function{
    color: var(--color-text-functional);
}
.about-word-websites{
    color:var(--color-text-websites);
}

.img-about-me {
    width: 343px;

    border-radius: 24px;
    margin: 16px auto;
}





/* Section two */
.ac .ac-header .ac-trigger {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px;
    align-items: center;
}

.accordion-container .ac.is-active .ac-header .ac-trigger::after,
.ac .ac-header .ac-trigger::after {
    content: none;
}


.cercio {
    display: block;
    position: relative;
    padding: 5px;
    /* left: 85%; */
    height: 36px;
    width: 36px;
    border-radius: 50%;
    border: 1px solid black;
    transition: all 0.2s linear;
}

.cercio:hover {
    transform: translate3d(0, 10px, 0);
}

.is-active .cercio:hover {
    transform: translate3d(0, -10px, 0);
}

.is-active .cercio::after,
.cercio::after {
    content: "";
    position: absolute;
    left: 9px;
    z-index: 11;
    display: block;
    width: 16px;
    height: 16px;
    border-top: 2px solid black;
    border-left: 2px solid black;
}

.is-active .cercio::after {
    top: 13px;
    transform: rotate(45deg);
}

.cercio::after {
    top: 6px;
    transform: rotate(225deg);
}