:root {
    --color-text-functional: #ED3B44;
    --color-text-websites: #FAFAFA66;
    --color-bacgraund-one: #242527;
}

/* first section */


.about-me-conteiner {
    padding-top: 64px !important ;
    padding-bottom: 32px !important;


}
 

.section-about-me {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    justify-content: center;
}

.about-me-intro {
    text-transform: uppercase;
    padding: 32px 32px 272px;
    font-weight: 600;
    margin: 0 auto;
    background-color: #242527;
    border-radius: 24px;
    width: 343px;
    font-size: 22px;
}
.about-word-function{
    color: var(--color-text-functional);
}
.about-word-websites{
    color:var(--color-text-websites);
}

.img-about-me {
    width: 343px;

    border-radius: 24px;
    margin: 16px auto;
}

@media (min-width: 768px) {


    .img-about-me {
        width: 704px;
    }
    .about-me-intro {
        font-size: 38px;
        padding: 64px 64px 436px;
        line-height:40px;
        width: 704px;
    }
}

@media (min-width: 1440px) {
        .about-me-conteiner {
                padding-top: 64px;
                padding-bottom: 32px;
                max-width: 100%;
            }
        .my-losung{
                display: flex;
                flex-direction: row;
        }
            .img-about-me {
                width: 680px;
                margin-left: 16px;
            }
        
            .about-me-intro {
                font-size: 38px;
                padding: 64px 64px 436px;
                line-height: 40px;
                width: 680px;
                height: 700px;
            }
}


/* Section two */
.ac .ac-header .ac-trigger-about-me {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px;
    align-items: center;
}

.accordion-container-about-me .ac.is-active .ac-header .ac-trigger::after,
.ac-about-me .ac-header .ac-trigger::after {
    content: none;
 
}


.cercio {
    display: block;
    position: relative;
    padding: 5px;
    /* left: 85%; */
    height: 36px;
    width: 36px;
    border-radius: 50%;
    border: 1px solid var(--color-text-websites);
    transition: all 0.2s linear;
}

.cercio:hover {
    transform: translate3d(0, 10px, 0);
}

.is-active .cercio:hover {
    transform: translate3d(0, -10px, 0);
}

.is-active .cercio::after,
.cercio::after {
    content: "";
    position: absolute;
    left: 13px;
    z-index: 11;
    display: block;
    width: 8px;
    height: 8px;
    border-top: 3px solid #fafafa;
    border-left: 3px solid #fafafa;
}

.is-active .cercio::after {
    top: 14px;
    transform: rotate(45deg);
}

.cercio::after {
    top: 12px;
    transform: rotate(225deg);
}




.section-about-me .ac,
.section-about-me .ac-header,
.section-about-me .ac-trigger,
.section-about-me .accordion-container{
    background-color: transparent;
    width: 343px;
    margin: 0 auto;

}
.section-about-me .ac{
    border: none;
    border-top: 2px solid var(--color-text-websites);
}
.section-about-me .ac .ac-header .ac-trigger
{
        font-weight: 500;
    color: var(--color-text-websites);
}
.section-about-me .ac .ac-panel .ac-text{
    color: #fafafa;
}
.accordion-container .ac.is-active{
    border: none
}
@media (min-width: 768px) {
    .section-about-me .ac,
        .section-about-me .ac-header,
        .section-about-me .ac-trigger,
        .section-about-me .accordion-container {
            width: 680px;
}
}
@media (min-width: 1440px) {
    .section-about-me .ac,
        .section-about-me .ac-header,
        .section-about-me .ac-trigger,
        .section-about-me .accordion-container {
            width: 1380px;
        }
}


/* 3тя секція */
.slaider-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;

}
.slaider-div .swiper-about-me {
    margin-left:0 ;
        width: 260px;
     height: 130px;

 }
.swiper-swiper-about-me{
    display: flex;
    

    text-align: center;
    text-justify: distribute;
}

 .swiper-wrapper-about-me .swiper-slide-about-me {
     display: flex ;
     align-items: center;
     justify-content: center;
     font-size: 22px;
     font-weight: bold;
     color: #fff;
     border-radius: 50%;

     text-align: center;
    border: 1px solid var(--color-text-websites);
 }

 .swiper-slide-about-me:nth-child(1n) {
     background-color: #ED3B44;



 }

 .swiper-slide-about-me:nth-child(2n),
 .swiper-slide-about-me:nth-child(3n),
 .swiper-slide-about-me:nth-child(4n),
 .swiper-slide-about-me:nth-child(5n),
 .swiper-slide-about-me:nth-child(6n) {
     background-color: transparent;
 }

.long-arrow-right {

    display: block;
    position: relative;
    top: -13px;
    width: 22px;
    height: 22px;
    border-top: 4px solid #3B3B3B;
    border-left: 4px solid#3B3B3B;
}

.long-arrow-right {
    transform: rotate(135deg);
}

.long-arrow-right::after {
    content: "";
    display: block;
    width: 4px;
    height: 28px;
    background-color: #3B3B3B;
transform: rotate(-45deg) translate(8px, 2px);
    left: 0;
    top: 0;
    position: relative;
}

@media (min-width: 768px) {
    
    .slaider-div .swiper-about-me {

            width: 600px;
            height: 200px;
    
        }
    .long-arrow-right {
            top: -13px;
            width: 32px;
            height: 32px;
                }
    .long-arrow-right {
                    transform: rotate(135deg);
                }
        
                .long-arrow-right::after {
                    content: "";
                    display: block;
                    width: 4px;
                    height: 40px;
                    background-color: #3B3B3B;
                    transform: rotate(-45deg) translate(12px, 2px);
                    left: 0;
                    top: 0;
                    position: relative;
                }
}
@media (min-width: 1440px) {
    .slaider-div .swiper-about-me {
            width: 1200px;
        }
}
