.benefits-wrapper {
  padding-top: 31.5px;
  padding-bottom: 20.5px;
}

.benefits-title {
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.4);
  margin-bottom: 32px;
}

@media screen and (min-width: 1440px) {
  .benefits-title {
    position: absolute;
  }
}

.benefits-item {
  border-radius: 20px;
  padding: 24px;
  background: #242527;
  margin-bottom: 16px;
}

.benefits-item:hover {
  box-shadow: 0 14px 15px var(--Theme_red);
  transition: box-shadow 0.3s;
}

@media screen and (min-width: 768px) {
  .benefits-item {
    border-radius: 20px;
    padding: 24px;
    width: 344px;
    height: 270px;
    margin-bottom: 0;
  }
}

.benefits-item:last-child {
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .benefits-list {
    gap: 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1440px) {
  .benefits-list {
    justify-content: right;
    margin-left: 500px;
  }
}

.benefits-icon-container {
  width: 48px;
  height: 48px;
  border-radius: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ed3b44;
  margin-bottom: 64px;
}

.benefits-item-title {
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.02em;
  font-weight: 600;
}
.benefits-item-caption {
  opacity: 0.6;
}
.button-wrapper {
  display: flex;
  align-items: center;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  padding: 18px 36px;
  width: 190px;
  height: 55px;
  transition: border-color var(--Animation_cubic);
}

.button-wrapper:hover {
  border-color: 1.5px solid var(--Main_text);
}

@media screen and (min-width: 1440px) {
  .button-wrapper {
    margin-left: 49%;
  }
}
