.hero-section {
    background-image: url(../img/hero/hero-bg-mob.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.hero-h1 {
    width: 343px;
    height: 250px;
    top: 281px;
    left: 16px;
    gap: 0px;
    opacity: 0px; 
    text-transform: uppercase;
    margin-top: 169px;
    padding: 0 16px;
    font-size: 50px;
    font-weight: 500;
    line-height: 50px;
    letter-spacing: -0.03em;
    text-align: left;
    color: #fafafa;
}

.social-links {
    display: flex;
    justify-content: space-between;
    padding-top: 212px;
    padding-bottom: 32px;
}

.social-li {
    display: flex;
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 60px;
    justify-content: center;
    padding: 10px 12px;
}


@media only screen and (min-resolution: 192dpi) {
    .hero-section {
        background-image: url(../img/hero/hero-bg-2x.png);
    }
}

@media only screen and (min-width: 768px) {
    .hero-section {
        max-width: 768px;
        padding: 112px 0;
        background-image: url(../img/hero/hero-bg-tab.png);
    }

    .social-links {
        align-items: flex-end;
    }
}

@media only screen and (min-width: 768px) and (min-resolution: 192dpi) {
    .hero-section {
        background-image: url(../img/hero/hero-bg-tab2x.png);
    }

    .social-links {
        align-items: flex-end;
    }
}

@media only screen and (min-width: 1440px) {
    .hero-section {
        max-width: 1440px;
        padding: 188px 0;
        background-image: url(../img/hero/hero-bg-1x.png);
    }

    .social-links {
        align-items: flex-end;
    }
}

@media only screen and (min-width: 1440px) and (min-resolution: 192dpi) {
    .hero-section {
        background-image: url(../img/hero/hero-bg-2x.png);
    }

    .social-links {
        align-items: flex-end;
    }
}