.hero-section {
    background-image: url(../img/hero/hero-bg-mob.png);
    background-repeat: no-repeat;
    background-color: #1c1d20;
    background-size: cover;
    background-position: -30px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
    height: 812px;
}

.hero-title {
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 500;
    line-height: 50px;
    letter-spacing: -0.03em;
    text-align: left;
    color: #fafafa;
    width: 332px;
}

.hero-title-item {
    display: block;
}

.social-links {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 4px;
}

.social-li {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fafafa;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid rgba(250, 250, 250, .2);
    border-radius: 60px;
    height: 35px;
}

.social-li-sm {
    min-width: 35px;
}

.social-li-lg {
    padding: 0 12px;
}


@media only screen and (min-resolution: 192dpi) {
    .hero-section {
        background-image: url(../img/hero/hero-bg-mob-2x.png);
    }
}

@media only screen and (min-width: 768px) {
    .hero-section {
        padding: 32px;
        height: 1024px;
        background-image: url(../img/hero/hero-bg-tab.png);
    }

    .social-li {
        height: 53px;
        min-width: 53px;
    }
}

@media only screen and (min-width: 768px) and (min-resolution: 192dpi) {
    .hero-section {
        background-image: url(../img/hero/hero-bg-tab-2x.png);
    }
}

@media only screen and (min-width: 1440px) {
    .hero-section {
        background-image: url(../img/hero/hero-bg-1x.png);
    }

    .hero-title {
        font-size: 90px;
        line-height: 90px;
        width: auto;
        margin: 0 auto;
    }

    .hero-title-item {
        max-width: 1084px;
    }
}

@media only screen and (min-width: 1440px) and (min-resolution: 192dpi) {
    .hero-section {
        background-image: url(../img/hero/hero-bg-2x.png);
    }
}