/* =============== mobile ================ */

body {
  font-weight: 400;
}

.projects-section {
  padding-top: 32px;
  padding-bottom: 32px;
}

.projects-heading {
  color: rgb(250, 250, 250, 40%);
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.02em;
  margin-bottom: 32px;
}

.project-cards {
  display: flex;
  margin-bottom: 32px;
}

.project-cards-item {
  max-width: 343px;
}

.project-cards-item-container {
  max-width: 343px;
}

.projects-card-info {
  background-color: #fafafa;
  border-radius: 24px 24px 0 0;
  padding: 32px;
}

.projects-card-tech-skills {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  margin-bottom: 96px;
}

.projects-card-tech-skills-item {
  color: #1c1d20;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.02em;
  border: 1px solid rgb(28, 29, 32, 20%);
  border-radius: 60px;
  padding: 13px 18px;

  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: default;
}

.projects-card-info-text {
  color: #1c1d20;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-align: left;
  margin-bottom: 32px;
}

.projects-card-see-project-link {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.02em;
  background-color: #ed3b44;
  border-radius: 60px;
  width: 141px;
  height: 45px;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms linear, transform 250ms linear;
}

.projects-card-see-project-link:hover,
.projects-card-see-project-link:focus {
  transform: scale(1.1);
  background-color: #e0373f;
}

.projects-card-image-container {
  max-width: 343px;
  background-color: #242527;
  border-radius: 0 0 24px 24px;

  padding: 100px 16px;
}

.projects-swiper-container {
  overflow: hidden;
}

.projects-swiper-buttons {
  display: flex;
  gap: 12px;
  justify-content: center;
}

.projects-swiper-button-prev-custom,
.projects-swiper-button-next-custom {
  width: 52px;
  height: 52px;
  border: 1px solid rgb(250, 250, 250, 50%);
  stroke: rgb(250, 250, 250, 100%);
  border-radius: 60px;
  background-color: transparent;
  transition: border-color 250ms linear, stroke 250ms linear;

  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-disabled {
  border-color: rgb(250, 250, 250, 20%);
  stroke: rgb(250, 250, 250, 20%);
}

.projects-swiper-icon-arrow-left {
  transform: rotate(180deg);
}

#projects-swiper-wrapper,
#projects-swiper-slide {
  border: none;
}

/* =============== / mobile ================ */

/* =============== tablet ================ */

@media screen and (min-width: 768px) {
  .projects-section {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .project-cards {
    width: 704px;
    margin-bottom: 64px;
  }

  .project-cards-item {
    min-width: 704px;
  }

  .project-cards-item-container {
    max-width: 704px;
  }

  .projects-card-info {
    padding: 64px;
  }

  .projects-card-tech-skills {
    margin-bottom: 164px;
  }

  .projects-card-tech-skills-item {
    padding: 18px;
    height: 55px;
  }

  .projects-card-info-text {
    width: 494px;
    font-size: 44px;
    line-height: 1;
  }

  .projects-card-see-project-link {
    width: 177px;
    height: 55px;
  }

  .projects-card-image-container {
    max-width: 704px;
    padding: 120px 45px;
  }

  .projects-swiper-button-prev-custom,
  .projects-swiper-button-next-custom {
    width: 68px;
    height: 68px;
  }

  .projects-swiper-icon-arrow {
    width: 32px;
    height: 32px;
  }
}

/* =============== / tablet ================ */

/* =============== desktop ================ */

@media screen and (min-width: 1440px) {
  .projects-section {
    padding-top: 82px;
    padding-bottom: 82px;
  }

  .project-cards {
    width: 1376px;
  }

  .project-cards-item {
    min-width: 1376px;
  }

  .project-cards-item-container {
    max-width: 1376px;
    display: flex;
  }

  .projects-card-info {
    width: 688px;
    border-radius: 24px 0 0 24px;
  }

  .projects-card-tech-skills {
    margin-bottom: 223px;
  }

  .projects-card-image-container {
    border-radius: 0 24px 24px 0;
    padding: 120px 37px;
  }
}

/* =============== / desktop ================ */
