.footer {
  padding-top: 32px;
}

.footer-container {
  padding: 32px 16px;
}

.text-footer {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 63px;
}

.text-footer-wrapper {
  display: flex;
  gap: 8px;
}

.footer h2 {
  font-weight: 500;
  font-size: 40px;

  line-height: 40px;
  line-height: 1;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.footer span {
  color: #ed3b44;
}

.footer-form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.input-footer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.input-footer input::placeholder {
  font-size: 16px;
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(-18%);
}

.input-footer input {
  width: 100%;
  height: 44px;
  position: relative;
  background-color: transparent;
  border: none;
  outline: 1px solid transparent;
  border-bottom: 1px solid #fafafa33;
  color: #fafafa;
  transition: border-bottom 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-footer input:hover,
.input-footer input:focus {
  border-bottom: 1px solid rgb(250, 250, 250, 50%);
}

.footer img {
  border-radius: 12px;
  max-width: 40px;
}

.footer-button {
  width: 100px;
  height: 100px;
  border: none;
  border-radius: 100%;
  color: #fafafa;
  background-color: #ed3b44;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer button:focus,
.footer button:hover {
  background-color: #e0373f;
  transform: scale(1.1);
}

.contact-footer {
  display: flex;
  gap: 4px;
  margin-top: 64px;
}

.address-link-footer {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  padding: 10px 12px;
  font-size: 14px;
  letter-spacing: -0.02em;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link-footer:hover,
.address-link-footer:focus {
  border-color: rgba(250, 250, 250, 0.5);
}

@media only screen and (min-width: 767px) {
  .footer {
    padding-top: 48px;
  }

  .footer-container {
    padding: 80px 32px 169px 32px;
  }

  .text-footer {
    gap: 7px;
    margin-bottom: 18px;
  }

  .text-footer-wrapper {
    gap: 20px;
  }

  .footer h2 {
    font-size: 64px;
  }

  .footer-form-wrapper {
    flex-direction: row;
  }

  .input-footer {
    flex-direction: row;
    align-items: center;
    gap: 32px;
  }

  #email,
  #comment {
    width: 245px;
  }

  .footer img {
    border-radius: 24px;
    max-width: 70px;
  }

  .footer-button {
    width: 150px;
    height: 150px;
  }

  .contact-footer {
    gap: 8px;
    margin-top: 18px;
  }

  .address-link-footer {
    border-radius: 60px;
    padding: 18px 32px;
  }
}

@media only screen and (min-width: 1440px) {
  .footer {
    padding-top: 82px;
  }

  .footer-container {
    padding: 80px 196px 169px 196px;
  }

  #email,
  #comment {
    width: 390px;
  }
}









.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 343px;
  height: 276px;
  overflow: hidden;
  background: rgb(28, 29, 32);
  padding: 64px 32px 64px 32px;
  
  border: 1px solid rgba(250, 250, 250, 0.1);
    border-radius: 20px;
    stroke: #FAFAFA1A;
}

@media only screen and (min-width: 768px) {
  .modal {
    width: 492px;
    height: 246px;
  }
}


.modal-content {
background-color: #1C1D20;
  width: 279px;
    height: 148px;
    display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 16px;
      text-align: center;
      
}

@media only screen and (min-width: 768px) {
  .modal-content {
      width: 364px;
        height: 118px;
  }
}

.close {
  position: absolute;
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  right: 5.5px;
    top: 5.5px;
    fill: #fafafa;
    stroke:rgb(28, 29, 32);
}

.close:hover,
.close:focus {
  fill: #630000;
  stroke: #630000;
  text-decoration: none;
  cursor: pointer;
}

.modal-title{
  color: rgb(250, 250, 250);
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: -0.02em;
    text-align: center;
}
.modal-text{
color: rgba(250, 250, 250, 0.6);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-align: center;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 50;
  display: none;
}