.footer {
  padding-top: 32px;
}

.footer-container {
  padding: 32px 16px;
}

.text-footer {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 63px;
}

.text-footer-wrapper {
  display: flex;
  gap: 8px;
}

.footer h2 {
  font-weight: 500;
  font-size: 40px;

  line-height: 40px;
  line-height: 1;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.footer span {
  color: #ed3b44;
}

.footer-form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.input-footer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.input-footer input::placeholder {
  font-size: 16px;
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(-18%);
}

.input-footer input {
  width: 100%;
  height: 44px;
  position: relative;
  background-color: transparent;
  border: none;
  outline: 1px solid transparent;
  border-bottom: 1px solid #fafafa33;
  color: #fafafa;
  transition: border-bottom 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-footer input:hover,
.input-footer input:focus {
  border-bottom: 1px solid rgb(250, 250, 250, 50%);
}

.footer img {
  border-radius: 12px;
  max-width: 40px;
}

.footer-button {
  width: 100px;
  height: 100px;
  border: none;
  border-radius: 100%;
  color: #fafafa;
  background-color: #ed3b44;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer button:focus,
.footer button:hover {
  background-color: #e0373f;
  transform: scale(1.1);
}

.contact-footer {
  display: flex;
  gap: 4px;
  margin-top: 64px;
}

.address-link-footer {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  padding: 10px 12px;
  font-size: 14px;
  letter-spacing: -0.02em;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link-footer:hover,
.address-link-footer:focus {
  border-color: rgba(250, 250, 250, 0.5);
}

@media only screen and (min-width: 767px) {
  .footer {
    padding-top: 48px;
  }

  .footer-container {
    padding: 80px 32px 169px 32px;
  }

  .text-footer {
    gap: 7px;
    margin-bottom: 18px;
  }

  .text-footer-wrapper {
    gap: 20px;
  }

  .footer h2 {
    font-size: 64px;
  }

  .footer-form-wrapper {
    flex-direction: row;
  }

  .input-footer {
    flex-direction: row;
    align-items: center;
    gap: 32px;
  }

  #email,
  #comment {
    width: 245px;
  }

  .footer img {
    border-radius: 24px;
    max-width: 70px;
  }

  .footer-button {
    width: 150px;
    height: 150px;
  }

  .contact-footer {
    gap: 8px;
    margin-top: 18px;
  }

  .address-link-footer {
    border-radius: 60px;
    padding: 18px 32px;
  }
}

@media only screen and (min-width: 1440px) {
  .footer {
    padding-top: 82px;
  }

  .footer-container {
    padding: 80px 196px 169px 196px;
  }

  #email,
  #comment {
    width: 390px;
  }
}
